<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>削除</title>
</head>
<body>
  <h2>本当に「<%= data[propertySettings.main]%>」を削除しますか？</h2>
  <p><a href="/db/<%= data.id%>">キャンセル</a></p>
  <p><a href="/db_remove_complete/<%= data.id%>">削除する</a></p>
</body>
</html>
